body
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
}

main
{
    margin: 3% 20%;
    background-color: rgb(44, 46, 46);
    padding: 3%;
}

hr
{
    margin: 30px 0;
}

span
{
    border: 1px solid red;
}

div
{
    border: 1px solid red;
    margin: 10px;
}

p
{
    margin: 0;
}

.inlineblock
{
    display: inline-block;
}
.inline
{
    display: inline;
}